# These owners will be the default owners for everything in the repo.
# Later matches override earlier entries.
* @temporalio/sdk

# IMPORTANT: Make sure to add `@temporalio/sdk` on every override below.
# This is required so that SDK team can do repo-wide maintenance tasks.
/Directory.Packages.props @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/README.md @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/TemporalioSamples.slnx @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/tests/TemporalioSamples.Tests.csproj @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk

# SDK & Nexus teams share ownership of Nexus samples
/src/Nexus*/ @temporalio/sdk @temporalio/nexus
/tests/Nexus*/ @temporalio/sdk @temporalio/nexus

# SDK & AI SDK teams share ownership of Workflow Streams samples
/src/WorkflowStreams/   @temporalio/sdk @temporalio/ai-sdk
/tests/WorkflowStreams/ @temporalio/sdk @temporalio/ai-sdk
